@import "https://github.com/HyeRyoung-Rachel-Kim/snulaproject_team6/blob/main/textstyle.css";



hackstyle{
	font-family : "hack";
	font-size: 10px;
	color : #1e74d6;
}

neutro{
	font-family : "neutro";
	font-size: 50px;
	color : #0c5af5;
}

